body{
    color: #252525;

}

a{
    color: #2B442E;
}

a:hover{
    color: #2B442E;
}

.content{
    width: 870px;
    margin: auto;
}

div#leftside{
    width: 300px;
    float: left;
    margin: 5px;
    padding: 10px;padding-top: 70px;
    min-height: 400px;
    height: 80%;
}

div.scrollcontainer{
    height:100%;
    overflow-y: auto;
    padding-right:0px;
    margin-right:20px;
    margin-top:0;
    margin-bottom:0;
}

div#rightSide{
    float: left;
    width: 500px;
    margin: 5px;
    padding: 10px;
    min-height: 400px;
}

div.sidebox{
    border: 1px #CDCFD8 solid;
    -webkit-border-radius: 10px;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius: 10px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #e9eaee;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);    
}


div.menu {
    height: 50px;
}
div.menu div {
    position: fixed;
    right: 20px;
}

div.menu ul{
    list-style: none;
    display: inline-block;
}
.menu ul li{
    cursor: pointer;
    padding: 0 5px 0 5px;
    float: left;
    font-size: 18px;
}

.menu ul li a{
    display: block;
    text-decoration: none;
}

.menu ul li:hover{
    font-weight: bold;
    font-size: 20px;
}

.option_field{
    padding: 5px;
}

.option_field span, .option_field input[type=text]{
    width: 150px;
    display: inline-block;
    border: 2px grey solid;
    padding: 1px;
    padding-left: 5px;
    margin: 1px;
    height: 20px;

    vertical-align: middle;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    font-size: 14px;
}

.option_field input[type=text] {
    width: 250px;

    height: 26px;
}

div.icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background: no-repeat 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}
div.delete{
    background-image: url('../images/delete.png');
}
div.undo{
    background-image: url('../images/undo.png');
}


.caption {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: block;
}

.caption_header{
    height: 70px;
    position: absolute;
    top: 68;
    width: 270px;
}


/* button */

.button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc782), color-stop(1, #db8b29) );
	background:-moz-linear-gradient( center top, #ffc782 5%, #db8b29 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc782', endColorstr='#db8b29');
	background-color:#ffc782;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	border:1px solid #ab8748;
	display:inline-block;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:19px;
	line-height:19px;
	min-width:85px;
	text-decoration:none;
	text-align:center;
	text-shadow:2px -1px 7px #805b20;
	padding-left: 3px;
	padding-right:3px;
	cursor:pointer;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #db8b29), color-stop(1, #ffc782) );
	background:-moz-linear-gradient( center top, #db8b29 5%, #ffc782 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db8b29', endColorstr='#ffc782');
	background-color:#db8b29;
}.button:active {
	position:relative;
	top:1px;
}

/* jquery */
div.ui-widget{
    font-size: 12px;
}

fieldset{
  border:none;
}
div.ui-widget-overlay{
    background-color: #555;
    background-image: none;
}