<html>
  <head>
    <link href="{{static_url('css/main.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
     {% block css %} {% end %}
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

     <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script src="{{static_url('js/string.format.js')}}"></script>
     {% block scripts %} {% end %}
    <title>{% block title %}Default title{% end %}</title>
  </head>
  <body>
    <div class="menu">
      <div>
        <ul>
            <li><a href='/'>To menu</a></li>
            <li><a href='#' id='btn_logout'>logout<a></li>
        </ul>
      </div>
    </div>
    <div class='content'>
      {% block content %}
      {% end %}
    </div>
  </body>
</html>