
{% extends "base.html" %}

{% block css %} 
<link rel="stylesheet" href="{{static_url('plugins/tree/themes/default/style.min.css')}}" />
{% end %}

{% block scripts %}
<script src="{{static_url('plugins/tree/jstree.min.js')}}"></script>
<script src="{{static_url('js/tree.js')}}"></script>
{% end %}

{% block content %}
<div id='leftside' class="sidebox">
    <div class='caption'>{% block leftCaption %}<span>List of items</span>{% end %}</div>
    <div id="tree"></div>
 </div>
 <div id='rightside' class="sidebox">
    <div class='caption'>{% block rightCaption %}<span>List</span>{% end %}</div>
    <div class='data'>
        <div id="items_data">
            
        </div>

    </div>
 </div>
{% end %}
    

